%h3 Edit Post:

- if @errors
  = @errors.inspect
  
%form{ :class => 'admin', :method => 'POST', :action => "/admin/#{@post['uri_title']}" }
  %input{ :type => 'hidden', :name => '_method', :value => 'PUT' }
  %label Title:
  %input{ :type => 'text', :name => 'title', :value => @post['title'] }
  %label Category:
  %input{ :type => 'text', :name => 'category', :value => @post['category'] }
  %label Content:
  %textarea{ :name => 'content' }= @post['content']
  %input{ :class => 'submit', :type => 'submit', :value => 'Update' }