- content_for :content do
  %a{ :href => '/admin/add' } Create Post
  #posts
    - @posts.each do |p|
      %div
        %h4= p['title']
        %div= p['content'][0..100].chomp + "..."
        %a{ :href => "/admin/#{p['uri_title']}/edit" } Edit
        %form{ :action => "/admin/#{p['uri_title']}", :method => 'POST' }
          %input{ :type => 'hidden', :name => '_method', :value => 'DELETE'}
          %input{ :type => 'submit', :value => 'Remove' }