!!! 5
%html
  %head
    %title= 'Brendan Barr { Web Developer }'
    %link{ :href => '/css/base.css', :rel => 'stylesheet' }
  %body
    
    %header
      %h1 
        Brendan Barr
        %span{ :class => 'title' }!= "<span>{</span> Web Developer <span>}</span>"
      %nav
        %a{ :href => '#/projects', :id => 'project_link' } projects
        %a{ :href => '#/bio', :id => 'bio_link' } bio
        %a{ :href => 'http://github.com/bbarr', :class => 'external' } github
        %a{ :href => 'http://www.senselesslogic.com', :class => 'external' } blog

    #content

      %section{ :id => 'projects' }     
        %h2 Projects
        %ul                
          %li
            .inner
              %h4 
                Dataful.me (In Development)
                %span - Self-tracking and analysis

              %p
                %a{ :href => 'http://dataful.herokuapp.com/', :class => 'external' } website
                %a{ :href => 'http://github.com/bbarr/dataful.me', :class => 'external' } code
              
              %ol
                %li Track anything as a series of tags (key or key:value)
                %li Define stats, such as "average miles (running) 1h after eating"

          %li
            .inner
              %h4 
                MarkerJS
                %span - Javascript HTML templates

              %p
                %a{ :href => 'http://www.senselesslogic.com/2012/01/19/marker-html-templates/', :class => 'external' } website
                %a{ :href => 'http://github.com/bbarr/Marker', :class => 'external' } code
              
              %ol
                %li Chainable, HTML construction
                %li Supports reusable code via .partials()
                %li Conditionals and iterations

          %li
            .inner
              %h4 
                HayMaker
                %span - Lazy/Pre-loading for assets and AJAX requests  

              %p
                %a{ :href => 'http://github.com/bbarr/haymaker', :class => 'external' } code  
              
              %ol
                %li Defers to higher-priority requests
                %li Avoids caching urls multiple times

          %li
            .inner
              %h4 
                JSONEnforcer
                %span - JSON format validation

              %p
                %a{ :href => 'http://github.com/bbarr/jsonenforcer', :class => 'external' } code

              %ol
                %li Validates JSON structure
                %li Data-type checking
                %li Generates randomized stubs for development

          %li
            .inner
              -#demo{ :height => '100', :width => '100' }
              -#.instructions click for gravity
              %h4
                Gameling
                %span - Canvas-based game library
            
              %p
                %a{ :href => 'http://github.com/bbarr/gameling', :class => 'external' } code
                
              %ol
                %li -- A work in progress --
                %li Support for 2D vectors, stages and accurate timers

      %section{ :id => 'bio' }
        %h2 Bio
        %p
          I am a freelance web developer living in the Boston-Metro area, where I enjoy 
          working remotely with teams to create rich user-experiences with Ruby and Javascript.
        %p
          In my spare time, I try to remember how to play guitar and dabble a bit in game design. One day, I would like to launch a wildly successful start-up.
        %p
          Currently, I am available for work on a freelance basis.

      -#%section{ :id => 'contact' }
        -#%h2 Contact
        -#%form{ :action => '', :method => 'POST' }
          -#%input{ :placeholder => 'Email' }
          -#%textarea{ :placeholder => 'Message' }
          -#%input{ :type => 'submit', :value => 'Send' }

    %script{ :src => '/js/jquery.js' } 
    -#%script{ :src => '/js/gameling.js' }     
    -#%script{ :src => '/js/balls.js' }         
    %script{ :src => '/js/bb.js' }
