!!! 5
%html
  %head
    %title= 'Brendan Barr { Web Developer }'
    %link{ :href => '/css/base.css', :rel => 'stylesheet' }
  %body
    
    %header
      %h1 
        Brendan Barr
        %span{ :class => 'title' }!= "<span>{</span> Web Developer <span>}</span>"
      %nav
        %a{ :href => 'http://github.com/bbarr', :class => 'external' } github

    #content

      %section{ :id => 'projects' }     
        %h2 Projects
        %ul                
          %li
            .inner
              %h4 
                codeci.de (beta)
                %span - Group decision making, without the fatigue.

              %p
                %a{ :href => 'http://codeci.de/', :class => 'external' } website
              
              %ol
                %li Define a problem, and then share it with whoever is in the best position to recommend an answer. People contribute and vote.
                %li Hopefully replaces those long "which library should we use for X" discussions or email threads that end up going in circles.

              %p
                %strong Technology: 
                Backbone.js (and soon Rivets.js) with a Ruby/Sinatra JSON API backed by MongoDB

          %li
            .inner
              %h4 
                Decor
                %span - Draper(rb)-inspired Javascript decorators

              %p
                %a{ :href => 'http://github.com/bbarr/decor', :class => 'external' } code

              %ol
                %li Can help create a simple ViewModel/Exhibit/Presenter/etc layer for your Javascript Application.
                %li RegExp matching for delegation targets
                %li ECMA5 setters/getters to allow transparent property delegation.

          %li
            .inner
              %h4 
                JSONEnforcer
                %span - JSON format validation

              %p
                %a{ :href => 'http://github.com/bbarr/jsonenforcer', :class => 'external' } code

              %ol
                %li Validates JSON structure
                %li Data-type checking
                %li RegExp parser/generater for API stubs

          %li
            .inner
              %h4 
                MarkerJS
                %span - Javascript HTML templates

              %p
                %a{ :href => 'http://github.com/bbarr/Marker', :class => 'external' } code
              
              %ol
                %li Chainable, HTML construction
                %li Supports reusable code via .partials()
                %li Conditionals and iterations

      %section{ :id => 'work' }
        %h2 Experience
        %ul
          %li 
            .inner
              %strong Cignium Technologies 
              (November 2012 - present)
              %ul
                %li Develop features for application built in Knockout.js
                %li Built functional testing framework leveraging Phantom/CasperJS

          %li 
            .inner
              %strong howaboutwe.com
              (March 2012 - October 2012)
              %ul
                %li Developed across full-stack to develop features in Rails and Javascript
                %li Helped refactor a Backbone.js mobile site

          %li
            .inner
              %strong R/GA (NY)
              (September 2011 - February 2012)
              %ul
                %li Worked on new Nike Plus website, mostly for running activity views/graphs

      %section{ :id => 'bio' }
        %h2 Bio
        %p
          I am a freelance web developer living in the Boston-Metro area, where I enjoy 
          working remotely with teams to create rich user-experiences with Ruby and Javascript.
        %p
          In my spare time, I try to remember how to play guitar and dabble a bit in game design. One day, I would like to launch a wildly successful start-up.
        %p
          Currently, I am available for work on a freelance basis.

      -#%section{ :id => 'contact' }
        -#%h2 Contact
        -#%form{ :action => '', :method => 'POST' }
          -#%input{ :placeholder => 'Email' }
          -#%textarea{ :placeholder => 'Message' }
          -#%input{ :type => 'submit', :value => 'Send' }

    %script{ :src => '/js/jquery.js' } 
    -#%script{ :src => '/js/gameling.js' }     
    -#%script{ :src => '/js/balls.js' }         
    %script{ :src => '/js/bb.js' }
