!!! 5
%html
  %head
    %title= 'Brendan Barr { Web Development }'
    %link{ :href => '/css/base.css', :rel => 'stylesheet' }
  %body
    
    %header        
      %h1 
        Brendan Barr
        %span{ :class => 'title' }!= "<span>{</span> Javascript Developer <span>}</span>"
      %nav
        %a{ :href => '#/projects', :id => 'project_link' } projects      
        %a{ :href => '#/bio', :id => 'bio_link' } bio
        %a{ :href => '#/contact', :id => 'contact_link' } contact
        %a{ :href => 'http://github.com/bbarr', :class => 'external' } github
        %a{ :href => 'http://senselesslogic.com', :class => 'external' } blog
    
    #content

      %section{ :id => 'projects' }     
        %h2 Projects
        %ul
          %li
            .inner
              %h4 
                JSONEnforcer
                %span - JSON format validation
              
              %p
                %a{ :href => 'http://json-enforcer.brendanbarr.com', :class => 'external' } website
                %a{ :href => 'http://github.com/bbarr/jsonenforcer', :class => 'external' } code
              
              %ol
                %li Validates JSON structure
                %li Data-type checking
                %li Generates randomized stubs for development
                
          %li
            .inner
              %h4 
                HayMaker
                %span - Lazy/Pre-loading for assets and AJAX requests  

              %p
                %a{ :href => 'http://github.com/bbarr/haymaker', :class => 'external' } code  
              
              %ol
                %li Defers to higher-priority requests
                %li Avoids caching urls multiple times

          %li
            .inner
              %h4 
                MarkerJS
                %span - Javascript HTML templates

              %p
                %a{ :href => 'http://github.com/bbarr/Marker', :class => 'external' } code
              
              %ol
                %li Chainable

          %li
            .inner
              %h4
                Gameling
                %span - Canvas-based game library
            
              %p
                %a{ :href => 'http://github.com/bbarr/gameling', :class => 'external' } code

      %section{ :id => 'bio' }
        %h2 Bio
        %p
          I am a front-end web developer living in New York City. Currently, I am employed as a Senior Open Standards Developer at R/GA, where I 
          enjoy creating rich user-interfaces and experiences with javascript, HTML and CSS.
        %p
          For server-side work, I always lean towards Ruby and either MySQL or MongoDB. I have played around with Node, but I have yet to find 
          a good enough reason to use it for a project.

      %section{ :id => 'contact' }
        %h2 Contact
        %form{ :action => '', :method => 'POST' }
          %input{ :placeholder => 'Email' }
          %textarea{ :placeholder => 'Message' }
          %input{ :type => 'submit', :value => 'Send' }

    %script{ :src => '/js/jquery.js' } 
    %script{ :src => '/js/gameling.js' }     
    %script{ :src => '/js/balls.js' }         
    %script{ :src => '/js/bb.js' }