!!! 5
%html
  %head
    %title= 'Brendan Barr { Web Development }'
    %link{ :href => '/css/base.css', :rel => 'stylesheet' }
  %body
    
    %header        
      %h1 
        Brendan Barr
        %span{ :class => 'title' }!= "<span>{</span> Javascript Developer <span>}</span>"
      %nav
        %a{ :href => '#/projects', :id => 'project_link' } projects      
        %a{ :href => '#/bio', :id => 'bio_link' } bio
        %a{ :href => 'http://github.com/bbarr', :class => 'external' } github        
        %a{ :href => 'http://senselesslogic.com', :class => 'external' } blog
    
    #content

      %section{ :id => 'bio' }
        %p
          I am a front-end web developer living in the New York area. Currently, I am employed as a Senior Open Standards Developer at R/GA, where I 
          enjoy creating rich user-interfaces and experiences with javascript, HTML and CSS.
        %p
          For server-side work, I always lean towards Ruby and either MySQL or MongoDB. I have played around with Node, but I have yet to find 
          a good enough reason to use it for a project.

      %section{ :id => 'projects' }     
        %ul
          %li
            .inner
              %h4 
                JSONEnforcer 
                %span 
                  %a{ :href => 'http://github.com/bbarr/Marker', :class => 'external' } code
              %p 
                JSON format validation
              %pre
                :preserve
                  var json = {
                    a: 1,
                    b: [ 'foo', 'bar' ]
                  };
            
                  var template = {
                    a: 'number required',
                    b: [ 'string' ]
                  };
            
                  template.enforce(json) //=> true

              .toggle  
              
          %li
            %h4 
              HayMaker
              %span
                %a{ :href => 'http://github.com/bbarr/Marker', :class => 'external' } code
            %p Lazy/Pre-loading for assets and AJAX requests        
            
          %li
            %h4 
              Gameling
              %span
                %a{ :href => 'http://github.com/bbarr/Marker', :class => 'external' } code
            %p Canvas-based game library
          %li
            %h4 
              MarkerJS
              %span
                %a{ :href => 'http://github.com/bbarr/Marker', :class => 'external' } code
            %p Javascript HTML templates
                
      %section{ :id => 'contact' }
    
    %script{ :src => '/js/jquery.js' } 
    %script{ :src => '/js/gameling.js' }     
    %script{ :src => '/js/balls.js' }         
    %script{ :src => '/js/bb.js' }