* {
	margin: 0;
	padding: 0;
}

#container {
	width: 900px;
	margin: 20px auto;
	padding-bottom: 10px;
	color: #222;
	background: #eee;
	font-family: Helvetica;
}

header {
	display: block;
	border-top: 5px solid #bb0011;
	border-bottom: 1px dashed #aaa;
	height: 100px;
	padding: 0 20px;
	margin-bottom: 20px;
}

li {
	list-style: none;
}

h1 {
	margin: 20px 0 0;
	font-size: 40px;
	letter-spacing: 1px;
	line-height: 36px;
	font-weight: normal;
}

header p {
	color: #bb0011;
	font-size:20px;
	margin-top: 5px;
	letter-spacing: 1px;
}

#content {
	padding: 0 20px;
	margin-right: 240px;
}

#content.loading {
	height: 100px;
	background: url('/img/ajax-loader.gif') center no-repeat;
}

sidebar {
	float: right;
	display: inline;
	margin: 0 20px;
	width: 200px;
}

.post {
	margin: 0 0 20px;
	padding: 10px;
}

.post h3 {
	color: #bb0011;
	font-size: 20px;
	margin-bottom: 10px;
}

.post p {
	margin: 0 0 10px;
}

footer {
	padding: 0 20px;
}

footer ul {
	float: right;
}

footer ul li {
	float: left;
	border-right: 1px solid #aaa;
	padding: 0 5px;
}

footer ul li:last-child {
	border: none;
}

form.admin {
	margin: 20px auto 0;
}

form.admin textarea, form.admin input {
	padding: 5px 10px;
	width: 800px;
	display: block;
	border: 1px solid #aaa;
	margin: 0 0 20px 0;
}

form.admin textarea {
	height: 300px;
}

form.admin input.submit {
	width: 60px;
}

#posts {
	margin: 20px 0 0;
}