* {
	margin: 0;
	padding: 0;
}

#container {
	width: 900px;
	margin: 20px auto;
	padding-bottom: 10px;
	color: #333;
	background: #eee;
	font-family: Helvetica;
}

header {
	display: block;
	border-top: 5px solid #bb0011;
	border-bottom: 1px dashed #aaa;
	height: 100px;
	padding: 0 20px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
}

h1 {
	margin: 20px 0 0;
	font-size: 40px;
	letter-spacing: 1px;
	line-height: 36px;
	font-weight: normal;
}

header p {
	color: #bb0011;
	font-size:20px;
	margin: 5px 0 10px;
	letter-spacing: 1px;
}

header ul {
	float: right;
	margin: 10px 0 0;
}

header li {
	float: left;
	margin-right: 10px;
}

header li a {
	text-decoration: none;
	color: #333;
}

header li a:hover {
	text-decoration: underline;
}

#content {
	padding: 20px 20px 0;
	margin-right: 240px;
}

#content.loading {
	height: 100px;
	background: url('/img/ajax-loader.gif') center no-repeat;
}

sidebar {
	float: right;
	display: inline;
	margin: 20px 20px 0;
	width: 220px;
}

sidebar .content {
	background: #fff;
	margin: 0 0 10px;
	padding: 10px;
	font-size: 14px;
}

sidebar .content h4 {
	font-size: 16px;
	margin-bottom: 3px;
}

.post {
	margin: 0 0 10px;
	padding: 10px;
	background: #fff;
	border-bottom: 2px dashed #ddd;
}

.post h3 {
	color: #bb0011;
	font-size: 20px;
	margin-bottom: 10px;
}

.post h3 a {
	color: #bb0011;
	text-decoration: none;
}

.post h3 a:hover {
	text-decoration: underline;
}

.post h3 span {
	font-size: 12px;
	color: #555;
	display: block;
	font-weight: normal;
}

.post div a {
	color: #bb0011;
	text-decoration: none;
}

.post p {
	margin: 0 0 10px;
}

footer {
	padding: 10px 20px 0;
	margin-top: 20px;
	border-top: 1px dashed #ccc;
	display: block;
	overflow: hidden;
}

footer ul {
	float: right;
}

footer ul li {
	float: left;
	border-right: 1px solid #aaa;
	padding: 0 5px;
}

footer a {
	color: #333;
}

footer ul li:last-child {
	border: none;
}

form.admin {
	margin: 20px auto 0;
}

form.admin textarea, form.admin input {
	padding: 5px 10px;
	width: 800px;
	display: block;
	border: 1px solid #aaa;
	margin: 0 0 20px 0;
}

form.admin textarea {
	height: 300px;
}

form.admin input.submit {
	width: 60px;
}

#posts {
	margin: 20px 0 0;
}